<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    <div class="container  bg-warning text-center">
      <div class="jumbotron">
        <h1 class="text-center text-danger">Jaipur Job Info</h1>
        <a href="/jaipur" class="btn btn-lg btn-danger
        text-center">Jaipur</a>
        <a href="/gurgaon" class="btn btn-lg btn-info">Gurgaon</a>
        <a href="/banglore" class="btn btn-lg btn-success">Banglore</a>
      </div>

    </div>
  </body>
</html>
